[
	{example, [
		{	oauth2,	
			[	{	<<"google">>,
					[pal_google_oauth2_authcode, pal_google_oauth2_people],
					#{client_id     => <<"Your Google application ID">>,
						client_secret => <<"Your Google application secret">>} },
				{	<<"facebook">>,
					[pal_facebook_oauth2_authcode, pal_facebook_oauth2_user],
					#{client_id     => <<"Your Facebook application ID">>,
						client_secret => <<"Your Facebook application secret">>} } ]}
	]}
].

