%% test options
{cover_enabled, true}.

%% xref options
{xref_warnings, true}.
{xref_checks, [undefined_function_calls]}.

%% compiler options
{erl_opts, [
	debug_info, 
	fail_on_warning
]}.

%% deps list
{deps, [
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {branch, master}}},
	{pal_google_oauth2, ".*", {git, "git://github.com/manifest/pal-google-oauth2.git", {branch, develop}}},
	{pal_facebook_oauth2, ".*", {git, "git://github.com/manifest/pal-facebook-oauth2.git", {branch, develop}}}
]}.

