{deps, [
	{pal_google_oauth2, ".*", {git, "git://github.com/manifest/pal-google-oauth2.git", {branch, develop}}},
	{pal_facebook_oauth2, ".*", {git, "git://github.com/manifest/pal-facebook-oauth2.git", {branch, develop}}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {branch, master}}},
	{jsxn, ".*", {git, "git://github.com/talentdeficit/jsxn.git", {branch, master}}}
]}.
